@tailwind base;
@tailwind components;
@tailwind utilities;

.middle {
  width: 0rem;
  opacity: 0;
}

.expanded {
  width: 100%;
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.won {
  position: relative;
}

.won::before {
  content: '';
  position: absolute;
  top: 52%;
  left: 50%;
  width: 130%;
  height: 132%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 1rem rgb(255 255 255 / 3%), 0 0 0 2rem rgb(255 255 255 / 3%),
    0 0 0 3rem rgb(255 255 255 / 3%);
}

@media (min-width: 768px) {
  .expanded {
    width: 13rem;
    opacity: 1;
    transition: width 150ms linear 750ms, opacity 150ms linear 1s;
  }

  .won::before {
    content: '';
    position: absolute;
    top: 52%;
    left: 50%;
    width: 135%;
    height: 138%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 4rem rgb(255 255 255 / 3%),
      0 0 0 8rem rgb(255 255 255 / 3%), 0 0 0 12rem rgb(255 255 255 / 3%);
  }
}
