@tailwind base;
@tailwind components;
@tailwind utilities;

.middle.closed {
  width: 0em;
  margin: 0 10%;
  overflow: hidden;
  animation: resize 0.7s cubic-bezier(0.4, 0, 1, 1) 1 2s forwards;
}
.middle.opened {
  width: 33%;
  margin: 0 33%;
  animation: resize 0.5s cubic-bezier(0.4, 0, 1, 1) 1 2s forwards reverse;
}
@keyframes resize {
  0% {
    width: 0em;
  }

  100% {
    width: 20em;
  }
}
